[submodule "lib/sdl"]
	path = lib/sdl
	url = https://github.com/zach2good/SDL.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/zach2good/glm.git
[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/zach2good/assimp.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/zach2good/stb.git
[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/zach2good/glad.git
	branch = c
